<h2 class="text-center">New Request Form</h2>

<form method="post" action="/api/v1/requests">
<input type="text" name="request[paperform_id]" value="paperform_id">
<input type="text" name="request[submitted_at]" value="submitted_at">
<input type="text" name="request[first_name]" value="first_name">
<input type="text" name="request[last_name]" value="last_name">
<input type="text" name="request[email]" value="email">
<input type="text" name="request[mobile]" value="mobile">
<input type="text" name="request[preferred_contact]" value="preferred_contact">
<input type="text" name="request[new_client]" value="new_client">
<input type="text" name="request[description]" value="description">
<input type="text" name="request[color_or_gray]" value="color_or_gray">
<input type="text" name="request[ref_pic_urls]" value="ref_pic_1_url">
<input type="text" name="request[size]" value="size">
<input type="text" name="request[placement]" value="placement">
<input type="text" name="request[cover_up]" value="cover_up">
<input type="text" name="request[cover_up_ref_url]" value="cover_up_ref_url">
<input type="text" name="request[pref_artist]" value="pref_artist">
<input type="text" name="request[pref_days]" value="pref_days">
<input type="text" name="request[pref_times]" value="pref_times">
<input type="text" name="request[local_client]" value="local_client">
<input type="text" name="request[coming_from]" value="coming_from">
<input type="text" name="request[client_notes]" value="client_notes">
<input type="text" name="request[ip_address]" value="ip_address">
<input type="submit">
</form>

